body{
  background: #fffbdf;
  margin: 0px;
}
.background_top{
  background-image: url(../picture/Nepan_background.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.profile_contact{
  border-radius: 50%;
  width: 250px;
  margin: 200px auto auto 38.5vw;
}
.main_pro{
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1000px){
  body{

  }
}
