body{
  margin: 0px;
}
#ID_body{
  background-color: #8ab6d6;
}
.hr_home{
  width: 100%;
  background-color: #8ab6d6;
  height: 10px;
}

.index_1{
  height: 753px;
  background-image: url(picture/profile_index.jpg);
}
.index_2{
  height: 753px;
}
#service_picture{
  width: 100%;
}
#show_bar{
  display: none;
}
#select_language{
  text-align: right;
}
#contact_for_phone{
  display: none;
}
.click_show_icon_contact{

  margin-left: 400px;
  margin-bottom: 70px;
  background-color: inherit;
  width: 50px;
  border-radius: 10%;
  border: 2px solid black;
}
.click_show_icon_contact:hover{
  background-color: gray;
}
.icon_contact{
  display: none;

}
.icon_contact_show{
  margin-left: 400px;
  margin-bottom: 70px;
}
.icon_flex{
  display: flex;
}
.icon_chat_chi{
  width: 50px;
  margin: 5px;
}
.icon_chat_chi:hover{
  background-color: gray;
  border-radius: 10%;
  border: 2px solid black;
  animation-delay: 4s;
}
.delete_underline_link{
  text-decoration: none;
  color: black;
}
.delete_underline_link_white{
  text-decoration: none;
  color: white;
}
.flex_content{
  display: flex;
}
.navbar-brand{
  margin: 0px 40px 5px 0px;
}
.container1{
  background-color: white;
  width: 300px;
  height: 650px;
  margin: 90px 5vw 0px 5vw;
}
.container2{
  background-color: white;
  width: 800px;
  height: auto;
  margin: 90px 0px 100px 10px;

}
.logo_tab{
  width: 50px;
  margin-right: 20px;
}
.myprofile{
  width: 100%;
  border-radius:50%;
  padding: 30px;
}
.bg_tab{
  background-color: #d8e3e7;
}
.underline_profile{
  width: 80%;
  margin: auto;
  height: 5px;
  border-radius: 5px;
}
.padding_profile{
  margin: 15px;
}
.content50per{
  width: 50%;
}
.profile_contact{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
.text1{
  padding-top: 60px;
  padding-right: 40px;
  text-align: center;
}
.about_me{
  padding: 25px;
}
.carousel_1{
  padding-left: 80px;
  padding-right: 80px;
}
.detail_pict{
  height: 400px;
  width:  300px;
}
.Educaton1{
  padding: 10px 10px 0px 10px;
  margin: auto;
  width: 60%;
}
.text1_educaion{
  margin: auto;
  padding-right: 10px;
}
.margin_Education{
  margin: 40px 0px 100px 0px;
}
.content50per_for_skill{
  width: 50%;
}
.card{
  margin:auto;
}
.flex_content_skill{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.logo_skill{
  padding-left: 20px;
  padding-right: 20px;
}
.logo_python{
  padding-top: 105px;
  padding-bottom: 103px;
}
#empty{
  padding-top: 200px;
  height: 500px;
}
.empty_text{
  text-align: center;
  font-size: 50px;
}
@media only screen and (max-width: 1000px) {
  body{

  }
  #contact_for_phone{
    display: none;
  }
  .content50per{
    width: 80%;
  }
  .delete_underline_link{
    text-decoration: none;
    color: black;
  }
  #empty{
    padding-top: 250px;
    height: 500px;
  }
  #select_language{
    margin-bottom: 100px;
  }
  .flex_content{
    display: block;
  }
  .detail_pict{
    height: 500px;
    width:  400px;
  }
  .container1{
    display: none;
  }
  .container2{
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
  }
  .text1{
    padding: 10px 0px 0px 0px;
    margin: auto auto 70px auto;
    font-size: 3vw;
    width: 70%;

  }
  .carousel_1{
    padding-left: 40px;
    padding-right: 40px;
  }
  .detail_pict{
    height: 400px;
    width:  280px;
  }
  .profile1{
    margin: auto;
    width: 60%;
  }
  .flex_content_skill{
    margin-top: 40px;

  }
}
